.form-wrapper {
  width: 100%;
  max-width: 1200px;
  min-width: 50%;
  margin: 20px auto;
  border: 4px solid #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #000;
}
.dark .form-wrapper {
  border: 4px solid #fff;
}

.form-header {
  display: flex;
  justify-content: space-betn;
  padding: 10px;
  filter: blur(1.5px);
}
.header-left {
  text-align: center;
  font-size: 18px;
  margin: 0;
}
.header-left h2,
.header-left h3,
.header-left h1 {
  justify-content: center;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}
.header-left h2 {
  font-size: 32px;
  font-weight: bold;
}
.header-left h3 {
  font-size: 20px;
  font-weight: bold;
}
.header-right {
  margin-left: 100px;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

.form-grid {
  display: grid;
  margin: 5px;
  border: 3px solid #000;
  grid-template-columns: repeat(9, 1fr);
}
.dark .form-grid {
  border: 3px solid #fff;
}
.grid-item {
  border-right: 3px solid #000;
  min-height: 50px;
  position: relative;
}
.dark .grid-item {
  border: 3px solid #fff;
}
.input-group {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.input-group label {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 3px solid #000;
  text-transform: uppercase;
  filter: blur(1.5px);
  padding: 4px 4px;
}
.input-group input {
  text-align: center;
  border: none;
  font-size: 18px;
  border-bottom: 3px solid #000;
  padding: 4px 4px;
}
.dark .input-group label,
.dark .input-group input {
  border-bottom: 3px solid #fff;
}
.incapacity-date {
  display: flex;
  gap: 20px;
}
.incapacity-date .input-group {
  flex: 1;
}
.item-1 {
  grid-column: 1 / 3;
}
.item-2 {
  grid-column: 3 / 5;
}
.item-3 {
  grid-column: 5 / 8;
}
.item-4 {
  grid-column: 8 / 10;
  border-right: none;
}
.item-5 {
  grid-column: 1 / 8;
}
.item-6 {
  grid-column: 8 / 10;
  border-right: none;
}
.item-7 {
  grid-column: 1 / 3;
}
.item-8 {
  grid-column: 3 / 6;
  border-right: none;
}
.item-9 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  grid-column: 1 / 3;
  filter: blur(1.5px);
  border: none;
}
.item-10 {
  grid-column: 3 / 6;
  border: none;
}
.item-10 .input-group {
  flex-direction: initial;
}
.item-10 .input-group label,
.item-10 .input-group input {
  border: none;
}
.item-11 {
  grid-column: 1 / 6;
  border: none;
  border-bottom: 3px solid #000;
  padding-top: 15px;
}
.item-11 .input-group {
  flex-direction: initial;
  border: none;
}
.item-11 .input-group label,
.item-11 .input-group input {
  border: none;
}
.item-12 {
  grid-column: 6 / 10;
  grid-row: 3 / 7;
  border: none;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  filter: blur(1.5px);
  display: flex;
  flex-direction: column;
}
.item-12 .item-label {
  text-transform: uppercase;
}
.item-12 .stamp-area {
  flex-grow: 1;
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.signature-group {
  text-align: center;
  display: flex;
  filter: blur(1.5px);
  flex-direction: column;
}
.signature-group span {
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  border-bottom: 3px solid #000;
}
.signature-group label {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 3px solid #000;
}
.item-signature-doc {
  grid-column: 1 / 3;
  border: none;
}
.item-stamp-doc {
  grid-column: 3 / 6;
  border: none;
}
.hospital {
  grid-column: 1 / 4;
  padding-bottom: 0;
  border: none;
  border-bottom: 3px solid #000;
}
.hospital .input-group {
  flex-direction: initial;
}
.hospital label {
  font-size: 14px;
  border: none;
}
.hospital input {
  font-size: 14px;
  border: none;
}
.matricula {
  grid-column: 4 / 6;
  text-align: center;
  padding-bottom: 0;
  border: none;
  border-bottom: 3px solid #000;
}
.matricula .input-group {
  flex-direction: initial;
}
.matricula label {
  font-size: 14px;
  border: none;
}
.matricula input {
  font-size: 14px;
  border: none;
}
.name-signature {
  grid-column: 6 / 10;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0;
  filter: blur(1.5px);
  border: none;
  border-bottom: 3px solid #000;
}

.item-lugar {
  grid-column: 1 / 10;
  border: none;
}
.item-insured {
  grid-column: 1 / 5;
  border: none;
}
.item-company {
  grid-column: 5 / 10;
  border: none;
}
.item-lugar .signature-group span,
.item-insured .signature-group span,
.item-company .signature-group span {
  padding-top: 40px;
  padding-bottom: 0;
  font-weight: normal;
  border: none;
}
.item-lugar .signature-group label,
.item-insured .signature-group label,
.item-company .signature-group label {
  padding-top: 0;
  border: none;
}
